.navbar {
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent); /* Transparent gradient background */
}

.search-box input{
    background: transparent;
    padding:10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
   transform: scale(1.2);
}
.btn-outline-info {
    background-color: #3f51b5;
    color: white;
    border-color: #3f51b5;
    position: relative;
    top: 5px;
    margin-right: 0;
  }
  
  .btn-outline-info:hover {
    background-color: #2e3b8b; 
    border-color: #2e3b8b;
    color: white;
  }
  .custom-margin {
    margin-right: 25%; 
}
.btn.btn-primary {
  background-color: #3f51b5; /* Initial background color */
  border-color: #3f51b5;
  color: white; /* Optional: set the text color */
}

.btn.btn-primary:hover {
  background-color: #5c6bc0; /* Change this to the hover color you want */
  border-color: #5c6bc0;
}


