.navbar {
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent); 
}

.search-box input{
    background: transparent;
    padding:10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
   transform: scale(1.2);
}
.btn-outline-info {
    background-color: #3f51b5;
    color: white;
    border-color: #3f51b5;
    position: relative;
    top: 5px;
    margin-right: 0;
  }
  
  .btn-outline-info:hover {
    background-color: #2e3b8b; 
    border-color: #2e3b8b;
    color: white;
  }
  .custom-margin {
    margin-right: 35%; 
    position: relative;
  top: -100px;
}
.btn.btn-primary {
  background-color: #3f51b5; 
  border-color: #3f51b5;
  color: white; 
}

.btn.btn-primary:hover {
  background-color: #5c6bc0; 
  border-color: #5c6bc0;
}

.navbar .nav-link {
  color: black !important; 
}


.navbar .nav-link:hover {
  color: black !important; 
}


.navbar .nav-link.active {
  color: black !important; 
}


.navbar .dropdown-item:hover {
  background-color: #e8eaf6; 
  color: #3f51b5 !important;
}



