
<div class="container">
<h1>Account Ledger - {{ accountName || accountId }}</h1>

<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-primary" style="background-color: #3f51b5; border-color: #3f51b5;"(click)="addJournal()">Add Journal</button>
  <button class="btn btn-primary" style="background-color: #3f51b5; border-color: #3f51b5;"(click)="addAdjustingJournalEntry()">Add Adjusting Journal</button>
  <a [routerLink]="['/view-chart-of-account']" class="btn btn-primary" style="background-color: #3f51b5; border-color: #3f51b5;">Back to Account List</a>
</div>



<div class="search-box">
  <label>Filter by Date</label>
  <input type="date" [(ngModel)]="createdOn" (change)="filterLedgerByDate()" />
  <input type="date" [(ngModel)]="updatedOn" (change)="filterLedgerByDate()" />
</div>

<div class="search-box">
  <label>Search Ledger</label>
  <input type="text" [(ngModel)]="ledgerSearchTerm" (input)="searchLedger()" placeholder="Description or Amount" />
</div>
<!------------Ledger Table----------->
<table class="table table-bordered table-hover mt-4">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Post Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of filteredTransactions">
      <td>{{ entry.createdOn | date: 'short' }}</td>
      <td>{{ entry.journalEntryDescription || 'N/A' }}</td>
      <td>{{ entry.debitTotal | currency }}</td>
      <td>{{ entry.creditTotal | currency}}</td>
      <td>
        <a class="btn btn-secondary post-reference-btn" (click)="goToJournalEntry(entry.journalEntryId)">
          {{ entry.journalEntryPostReference }}
          </a>
      </td>
    </tr>
  </tbody>
</table>

</div>