
<div class="container">
    <h2>Event Log</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Date & Time</th>
            <th scope="col">Action</th>
            <th scope="col">Before</th>
            <th scope="col">After</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through each log entry to display in the table -->
          <tr *ngFor="let event of eventLogs">
            <td>{{ event.id }}</td>
            <td>{{ event.userId }}</td>
            <td>{{ event.timestamp | date: 'short' }}</td>
            <td>{{ event.action }}</td>
            <td>
              <pre>{{ event.before | json }}</pre>
            </td>
            <td>
              <pre>{{ event.after | json }}</pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  