<div class="container">
    <h1>Chart of Accounts</h1>
  
    <!-- Search Box for filtering accounts -->
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search by Account Name or Number"
      />
      <button (click)="searchAccounts()">Search</button>
    </div>
  
    <ng-container *ngIf="filteredAccounts?.length; else noAccounts">
      <table class="table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Category</th>
            <th>Balance</th>
            <th>Status</th>
            <th>View</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let chartOfAccount of filteredAccounts">
            <td>{{chartOfAccount.accountNumber}}</td>
            <td>{{chartOfAccount.accountName}}</td>
            <td>{{chartOfAccount.accountCategory}}</td>
            <td>{{chartOfAccount.accountBalance}}</td>
            <td>
              <ng-container *ngIf="chartOfAccount.accountActive;else notActive">
                <p>Active</p>
              </ng-container>
              <ng-template #notActive>
                <p>Deactivated</p>
              </ng-template>
            </td>
            <td><a class="btn btn-secondary" [routerLink]="['admin/view-account', convertAccountIdToString(chartOfAccount.accountId)]">View Account</a></td>
            <td><a class="btn btn-secondary" [routerLink]="['admin/edit-account', convertAccountIdToString(chartOfAccount.accountId)]">Edit Account</a></td>
          </tr>
        </tbody>
      </table>

    </ng-container>
    
    <ng-template #noAccounts>
      <table class="table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Initial Balance</th>
            <th>Status</th>
            <th>Edit</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <td colspan="8" class="text-center">No accounts found.</td>
        </tbody>
      </table>
    </ng-template>
  </div>
  
