.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #3f51b5;
  outline: none;
}

textarea {
  height: 100px;
  resize: vertical; /* Allow vertical resizing only */
}

.button-container {
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #344395;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.navigation-actions {
  margin-top: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* New CSS to add space below the add credit button */
.form-actions {
  margin-top: 20px; /* Add some space above the submit button section */
}
