<input type="date" />
<div class="container">
    <h1>View Account</h1>
  
    <!-- Search for Account by Name or Number -->
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search by Account Name or Number"
      />
      <button (click)="searchAccount()">Search</button>
    </div>
  
    <!-- Display Account Information -->
    <div *ngIf="selectedAccount" class="account-details">
      <h3>Account Details</h3>
      <table class="table">
        <tr>
          <th>Account Name:</th>
          <td>{{ selectedAccount.name }}</td>
        </tr>
        <tr>
          <th>Account Number:</th>
          <td>{{ selectedAccount.number }}</td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{ selectedAccount.description }}</td>
        </tr>
        <tr>
          <th>Category:</th>
          <td>{{ selectedAccount.category }}</td>
        </tr>
        <tr>
          <th>Subcategory:</th>
          <td>{{ selectedAccount.subcategory }}</td>
        </tr>
        <tr>
          <th>Initial Balance:</th>
          <td>{{ selectedAccount.initialBalance }}</td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>{{ selectedAccount.isActive ? 'Active' : 'Inactive' }}</td>
        </tr>
      </table>
    </div>
  </div>
  