<div class="container">
  <h1 class="mt-3">Registration Form</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      <!--Email-->
      <div class="mt-3">
        <label class="form-label" for="email">Email</label>
        <input type="email"
        id="email"
        class="form-control"
        name="email" [(ngModel)]="model.email" required>
      </div>
      <!--Password-->
      <div class="mt-3">
        <label class="form-label" for="password">Password</label>
        <br>
        <small class="fw-bold">Password must be 8 characters long, start with a letter, have a number, and a special character.</small>
        <input type="password"
          id="password"
          minlength="8"
          pattern="^(?=[a-zA-Z])(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          class="form-control"
          autocomplete="off"
          name="password" [(ngModel)]="model.password" required #password="ngModel">
        <!-- Password Error Message -->
        <div *ngIf="password.touched && password.invalid" class="text-danger">
          <div *ngIf="password.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="password.errors?.['pattern']">
            Password must start with a letter, include at least one Capital letter, one number, and one special character.
          </div>
        </div>
      </div>

      <!--First Name-->
      <div class="mt-3">
        <label class="form-label" for="firstName">First Name</label>
        <input type="text"
        id="firstName"
        class="form-control"
        name="firstName" [(ngModel)]="model.firstName" required>
      </div>
      <!--Last Name-->
      <div class="mt-3">
        <label class="form-label" for="lastName">Last Name</label>
        <input type="text"
        id="lastName"
        class="form-control"
        name="lastName" [(ngModel)]="model.lastName" required>
      </div>
      <!--Address-->
      <div class="mt-3">
        <label class="form-label" for="address">Address</label>
        <input type="text"
        id="address"
        class="form-control"
        name="address" [(ngModel)]="model.address" required>
      </div>
      <!--Date Of Birth-->
      <div class="mt-3">
        <label class="form-label" for="dateOfBirth">Date of Birth</label>
        <input type="date"
        id="dateOfBirth"
        class="form-control"
        name="dateOfBirth" [(ngModel)]="model.dateOfBirth" required>
      </div>
      <!--Security Question One-->
      <div class="mt-3">
        <label class="form-label" for="securityQuestionOne">Security Question One</label>
        <select id="securityQuestionOne" class="form-control" name="securityQuestionOne" [(ngModel)]="model.securityQuestion1Id" required>
          <option value="" disabled>Select a Question</option>
          <option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion.securityQuestionId">
            {{securityQuestion.securityQuestion}}
          </option>
        </select>
      </div>
      <!--Security Question #1 Answer-->
      <div class="mt-3">
        <label class="form-label" for="securityQuestionOneAnswer">Security Question One Answer</label>
        <input type="text"
        id="securityQuestionOneAnswer"
        class="form-control"
        name="securityQuestionOneAnswer" [(ngModel)]="model.securityQuestion1Answer" required>
      </div>
      <!--Security Question #2-->
      <div class="mt-3">
        <label class="form-label" for="securityQuestionTwo">Security Question Two</label>
        <select id="securityQuestionTwo" class="form-control" name="securityQuestionTwo" [(ngModel)]="model.securityQuestion2Id" required>
          <option value="" disabled>Select a Question</option>
          <option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion.securityQuestionId">
            {{securityQuestion.securityQuestion}}
          </option>
        </select>
      </div>
      <!--Security Question #2 Answer-->
      <div class="mt-3">
        <label class="form-label" for="securityQuestionTwoAnswer">Security Question Two Answer</label>
        <input type="text"
        id="securityQuestionTwoAnswer"
        class="form-control"
        name="securityQuestionTwoAnswer" [(ngModel)]="model.securityQuestion2Answer" required>
      </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="formSubmitted && form.invalid" class="mt-3 text-danger">
      <strong>You must complete all required fields (first name, last name, address, etc.) before submitting your request.</strong>
    </div>

    <div class="mt-3 d-flex">
      <button type="submit" class="btn btn-success">Send Registration Request</button>
    </div>
  </form>
</div>
