<div class="container">
  <button class="btn btn-primary mb-3" routerLink="/adjusting-journal-entry">
    Back to Adjusting Journal Entries
  </button>
<h1>Journal Entries Pending Approval</h1>

<div class="search-box">
  <label >Filter by Date</label>
  <input type="date" [(ngModel)]="approvalStartDate" (change)="filterPendingByDate()" />
  <input type="date" [(ngModel)]="approvalEndDate" (change)="filterPendingByDate()" />
</div>

<div class="search-box">
  <label>Search Journal</label>
  <input type="text" [(ngModel)]="approvalSearchTerm" (input)="searchPendingJournal()" placeholder="Account Name, Amount, or Date" />
</div>
<ng-container *ngIf="pendingEntries"> 
<table class="table table-bordered table-hover mt-4">
  <thead>
    <tr>
      <th>Date</th>
      <th>AccountId</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of pendingEntries">
      <td>{{ entry.createdOn | date: 'short' }}</td>
      <td>{{ entry.chartOfAccountId }}</td>
      <td>{{ entry.debitTotal | currency }}</td>
      <td>{{ entry.creditTotal | currency}}</td>
      <td>Pending</td>
      <td>
        <button class="btn btn-secondary" (click)="approveEntry(entry.journalEntryId)">Approve</button>
        <button class="btn btn-secondary" (click)="submitRejection(entry.journalEntryId)">Reject</button>
      </td>
    </tr>
  </tbody>
</table>
</ng-container>
</div>
